@using Microsoft.AspNetCore.Identity
@using ProjectInsurance.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<ul class="navbar-nav flex-grow-1 justify-content-end">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">

            @if (User.IsInRole("Administrator"))
            {
              
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">@UserManager.GetUserName(User)</a>
                    <div class="dropdown-menu">
                    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">Osobní ůdaje</a>
                    <a class="dropdown-item" asp-area="" asp-controller="Admin" asp-action="Index">Uživatelé</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" asp-area="" asp-controller="Admin" asp-action="IndexRole">Role</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Admin" asp-action="CreateRole">Přidat roli</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Admin" asp-action="IndexUserRole">Role uživatelů</a>
                    </div>
                </li>
                
            }


            @if (User.IsInRole("User"))
            {
            <li class="nav-item">
                <a class="nav-link" asp-controller="User" asp-action="Index"
                   asp-route-id="@UserManager.GetUserId(User)">Moji Pojištěnci</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="InsuranceEventModels" asp-action="Index"
                   asp-route-id="@UserManager.GetUserId(User)">Moje Udalosti</a>
            </li>

            }




        </li>
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="btn text-light">Odhlásit se</button>
            </form>
        </li>
    }
    else
    {

                    
                 
        <li class="nav-item"><a class="nav-link"  asp-area="Identity" asp-page="/Account/Login">Přihlásit se</a></li>
        <li class="nav-item"><a class="nav-link"  asp-area="Identity" asp-page="/Account/Register">Registrace</a></li>
                  
  
    }

</ul>
