@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<div class="sidebar">
    <ul class="nav nav-pills flex-column">
        <li><a class="@ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Osobní údaje</a></li>
        <li><a class="@ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Změna hesla</a></li>
        <li><a asp-controller="User" asp-action="Index" asp-route-id="@UserManager.GetUserId(User)">Pojištěnci</a></li>
        <li><a asp-controller="InsuranceEventModels" asp-action="Index" asp-route-id="@UserManager.GetUserId(User)">Události</a></li>

        @if (User.IsInRole("Administrator"))

        {
            <li><a asp-area="" asp-controller="Admin" asp-action="IndexRole">Role</a></li>
            <li><a asp-area="" asp-controller="Admin" asp-action="CreateRole">Přidat roli</a></li>
            <li><a asp-area="" asp-controller="Admin" asp-action="IndexUserRole">Role uživatelů</a></li>
        }
    </ul>
</div>
