@page
@model IndexModel
@{
    ViewData["Title"] = "Osobní údaje";
    ViewData["ActivePage"] = ManageNavPages.Index;
}


<form id="profile-form" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger "></div>
    <div class="col-md-8">
        <h1>@ViewData["Title"]</h1>
        <hr>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-8">
                <div class="form-group mb-3">
                    <label asp-for="Input.Name" class="form-label"></label>
                    <input asp-for="Input.Name" class="form-control form-control-sm" type="text">
                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-8">
                <div class="form-group mb-3">
                    <label asp-for="Input.LastName" class="form-label"> </label>
                    <input asp-for="Input.LastName" class="form-control form-control-sm" type="text">
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-8">
                <div class="form-group mb-3">
                    <label asp-for="Input.Email" class="form-label"> </label>
                    <input asp-for="Input.Email" class="form-control form-control-sm" type="text">
                    <span asp-validation-for="Input.Email" class="text-danger"></span>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-8">
                <div class="form-group mb-3">
                    <label asp-for="Input.TelephoneNumber" class="form-label"> </label>
                    <input asp-for="Input.TelephoneNumber" class="form-control form-control-sm" type="text">
                    <span asp-validation-for="Input.TelephoneNumber" class="text-danger"></span>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-8">
                <div class="form-group mb-3">
                    <label asp-for="Input.StreetName" class="form-label"> </label>
                    <input asp-for="Input.StreetName" class="form-control form-control-sm" type="text">
                    <span asp-validation-for="Input.StreetName" class="text-danger"></span>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-8">
                <div class="form-group mb-3">
                    <label asp-for="Input.BuildingNumber" class="form-label"> </label>
                    <input asp-for="Input.BuildingNumber" class="form-control form-control-sm" type="text">
                    <span asp-validation-for="Input.BuildingNumber" class="text-danger"></span>

                </div>
            </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-8">
                    <div class="form-group mb-3">
                        <label asp-for="Input.CityName" class="form-label"> </label>
                        <input asp-for="Input.CityName" class="form-control form-control-sm" type="text">
                        <span asp-validation-for="Input.CityName" class="text-danger"></span>

                    </div>
                </div>
            </div
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-8">
                    <div class="form-group mb-3">
                        <label asp-for="Input.ZipCode" class="form-label"></label>
                        <input asp-for="Input.ZipCode" class="form-control form-control-sm" type="text">
                        <span asp-validation-for="Input.ZipCode" class="text-danger"></span>

                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12 content-right"><button class="btn btn-primary form-btn" type="submit">Uložit </button></div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
