@model InsuranceModel

@{
    ViewData["Title"] = "Odstranit pojištění";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="adminCSS">
<form method="post" asp-action="Delete">
	<div class="container">
		<h1>@ViewData["Title"]</h1>
			<hr />
		<div class="text-center pt-4 col-12 col-md-6 text-md-start">
			<h2 class="text-primary">@ViewBag.Name @ViewBag.LastName</h2>
		</div> 
	<input asp-for="Id" hidden />
		<div class="row pt-4">
			<div class="col-md-6 mb-3">
				<label asp-for="InsuranceType"></label>
				<select asp-for="InsuranceType" class="form-control">
					<option value="">Vyberte</option>
					<option value="Osoby">Osoby</option>
					<option value="Majetku">Majetku</option>
					<option value="Zájmu">Zájmu</option>				
				</select>
				<span asp-validation-for="InsuranceType" class="text-danger"></span>
			</div>		
		</div>
		<div class="row">
			<div class="col-md-6 mb-3">
				<label asp-for="InsuranceSubject"></label>
				<input asp-for="InsuranceSubject" class="form-control" />
				<span asp-validation-for="InsuranceSubject" class="text-danger"></span>
			</div>
			<div class="col-md-6 mb-3">
				<label asp-for="InsuranceAmount"></label>
				<input asp-for="InsuranceAmount" class="form-control" />
				<span asp-validation-for="InsuranceAmount" class="text-danger"></span>
			</div>			
		</div>
		<div class="row">
			<div class="col-md-6 mb-3">
				<label asp-for="InsuranceValidFrom"></label>
				<input asp-for="InsuranceValidFrom" class="form-control" readonly/>
				<span asp-validation-for="InsuranceValidFrom" class="text-danger"></span>
			</div>
			<div class="col-md-6 mb-3">
				<label asp-for="InsuranceValidUntil"></label>
				<input asp-for="InsuranceValidUntil" class="form-control" readonly/>
				<span asp-validation-for="InsuranceValidUntil" class="text-danger"></span>
			</div>		
		</div>
		<div class="row" hidden>
			<div class="col-md-6 mb-3">
					<label asp-for="InsuranceHolderId"></label>
					<input asp-for="InsuranceHolderId" class="form-control" readonly placeholder=@Model.InsuranceHolderId/>
					<span asp-validation-for="InsuranceHolderId" class="text-danger"></span>
			</div>
		</div>
	</div>
	@*buttons*@
	<div class="text-center">
		<button type="submit" class="btn btn-danger" style="width:200px"><i class="bi bi-trash"></i>&nbsp;Odstranit</button>
		<a asp-controller="PolicyHolderDetail" asp-action="PolicyHolderDetail" asp-route-id="@Model.InsuranceHolderId" class="btn btn-secondary btn-outline-primary" style="width:200px">
			Zpět
		</a>
	</div>
</form>


</section>