@{
    ViewData["Title"] = "O aplikaci";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="appInfo" class="d-flex justify-content-center align-items-center min-vh-100">
    <div class="container">
        <h1 class="text-center">@ViewData["Title"]</h1>
        <hr />

        <div class="row">
            <div class="col-md-8 mx-auto">
                <h2>Co je to za aplikaci?</h2>
                <p>Tato stránka obsahuje informace a služby o pojištění.</p>

                <h2>Naše služby</h2>
                <ul>
                    <li>Tato stránka slouží k pojištění osob.</li>
                </ul>

                <h2>Info o stránce</h2>
                <p>Tato stránka slouží jako projekt ke zkouškám a není určena ke komerčnímu používání.</p>
            </div>
        </div>
    </div>
</section>
