
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.mainDisplay {
    flex: 1;
    margin-top: 75px;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
    position: relative;
    width: 100%;
    bottom: 0;
}

@media (max-width: 900px) {
    .mainDisplay {
        margin-top: 50px;
    }
}

@media (max-width: 600px) {
    footer {
        padding: 10px 0;
    }
}

.masthead {
    background-image: url('../img/Main_Header_Image.jpg');
    background-size: cover;
    background-position: center;
    height: 1440px;
}

@media (max-width: 750px) {
    .masthead {
        height: 850px;
        margin-top: -6px;
    }
}

#page-top {
    background-color: slategray;
    color: white;
}

#portfolio, #contact #appInfo {
    background: url("../img/BackGround_portfolio.jpg");
    background-position: top;
    background-size: cover;
}

.portfolio-link {
    text-decoration: none;
}

    .portfolio-link:hover {
        text-decoration: none;
    }





@media (max-width: 900px) {
    #idebar {
        height: 719px;
        margin-top: -5px;
        margin-bottom: -16px;
    }
}

.container_background {
    padding: 40px 60px;
    background-color: rgb(254, 209, 54);
    color: white;
}

@media (max-width: 400px) {
    .services {
        width: 283px;
    }
}

@media (min-width: 760px) {
    .services {
        width: 900px;
    }
}

@media (max-width: 500px) {
    .services {
        width: 332px;
    }
}

@media (max-width: 280px) {
    html {
        width: 320px;
        background: #000000;
    }
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all ease .2s;
    opacity: 0;
    background: rgba(254, 209, 54, 0.46);
}

.services.login {
    margin-top: 80px;
}

a:hover {
    color: currentColor;
}

.clanky-tlacitko {
    background: #00386B;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 20px;
    margin: 15px 0;
    border-radius: 20px;
}

#clanky li h2 a {
    text-decoration: none;
    color: #00386B;
}

.kontakt-tlacitko:hover,
.reference-tlacitko:hover,
.clanky-tlacitko:hover {
    color: white;
    filter: brightness(115%) contrast(85%);
}

#sidenavAccordion {
    height: 730px;
    width: 296px;
}

.containerNav {
    margin-top: 20px;
}

#webSectionCSS {
    min-height: 30vh !important;
    margin-top: 75px;
}

@media screen and (max-width: 900px) {
    #webSectionCSS {
        margin-top: 50px;
    }
}

@media screen and (max-width: 600px) {
    #webSectionCSS {
        margin-top: 100px;
        margin-bottom: 131px;
    }
}

.mainDisplay {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

mainDisplayBTN {
    float: left;
}

#appInfo {
    background-color: dimgrey;
    margin: 0;
}

    #appInfo .container {
        background-color: lightsteelblue;
        padding: 85px;
        border-radius: 40px;
    }





@media (max-width: 380px) {
    #appInfo .container {
        font-size: 0.8rem;
    }
}





.sidebar {
    height: 90%;
    width: 200px;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: gray;
    overflow-x: hidden;
    border-radius: 20px;
}

    .sidebar ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .sidebar li a {
        display: block;
        color: white;
        padding: 16px;
        text-decoration: none;
    }

        .sidebar li a:hover {
            background-color: #555;
        }

@media screen and (max-width:766px) {
    .sidebar {
        display: none
    }
}

@media screen and (max-width:999px) {
    .sidebar {
        width: 100%;
        height: 100%;
        position: relative;
    }
}



.btnInsurend {
    width: 200px;
}

@media screen and (max-width:991px) {

    .btnInsurend {
        margin-top: 5px;
    }
}




.btnInsurend {
    margin: 5px;
}



@media screen and (max-width:353px) {
    .detailBTN {
        margin-top: 10px;
        width: 250px;
    }
}





/*User/index css */


@media (max-width: 576px) {
    .table thead {
        display: none;
    }

    .table tbody, .table tr, .table td {
        display: block;
        width: 100%;
    }

    .table td {
        text-align: right;
        padding-left: 50%;
        position: relative;
        border: none;
        border-bottom: 1px solid #dee2e6;
        white-space: normal;
        word-wrap: break-word;
        height: 5rem;
    }

        .table td::before {
            content: attr(data-label);
            position: absolute;
            left: 0;
            width: 50%;
            padding-left: 15px;
            font-weight: bold;
            text-align: left;
        }

        .table td:last-child {
            border-bottom: 0;
        }
}




/*My account css*/




@media (max-width: 766px) {
    .small-screen-nav {
        display: block !important;
    }
}

@media (min-width: 768px) {
    .small-screen-nav {
        display: none !important;
    }
}






/*PolicyHolderDetail*/

@media (max-width: 768px) {
    .profile-view {
        padding: 10px;
    }

    .avatar {
        width: 100%;
        height: auto;
    }
}

.table-responsive {
    overflow-x: auto;
}


@media (max-width: 576px) {
    .table thead {
        display: none;
    }

    .table tbody, .table tr, .table td {
        display: block;
        width: 100%;
    }

    .table td {
        text-align: right;
        padding-left: 50%;
        position: relative;
        border: none;
        border-bottom: 1px solid #dee2e6;
    }

        .table td::before {
            content: attr(data-label);
            position: absolute;
            left: 0;
            width: 50%;
            padding-left: 15px;
            font-weight: bold;
            text-align: left;
        }

        .table td:last-child {
            border-bottom: 0;
        }
}
